@use "../scss/variable.scss" as *;
.about-description{
    max-width: 1240px;
    margin: auto;
    
}


@media screen and (max-width: 800px){
    .about-description{
        max-width: none;
    }
}
