@use "../scss/variable.scss" as *;

.appartement-page{
    color: $color-primary;
    padding-inline: 3rem;
}

@media screen and (max-width: 800px){
    .appartement-page{
        padding-inline: 10px;
    }
}