@use "../scss/variable.scss" as *;
.error {
    padding-bottom: 50px;
    color: $color-primary;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: calc(100vh - 372px);
    & h1 {
        font-size: 288px;
        font-weight: 700;
        line-height: 218px;
    }
    & p {
        font-size: 36px;
        font-weight: 500;
        padding: 0 50px;
        text-align: center;
    }
    & a {
        font-size: 18px;
        font-weight: 500;
        text-decoration: underline;
        color: $color-primary;
    }
}
@media screen and (max-width: 800px) {
    .error {
        justify-content: space-between;
        height: calc(100vh - 303px);
        & h1 {
            font-size: 96px;
            line-height: 170px;
        }
        & p {
            font-size: 18px;
            text-align: center;
        }
        & a {
            font-size: 14px;
            padding-bottom: 30px;
        }
    }}