@use "../scss/variable.scss" as *;

.aboutCollapse ul {
    padding: 0;

}
.aboutCollapse {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 10px 140px;
    & .collapse {
        font-size: 24px;
        font-weight: 500;
        color: white;
        background-color: $color-primary;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
        position: relative;
        z-index: 1;
        cursor: pointer;
        & p{
            padding: 10px 20px 10px 15px;
            margin: 0; 
        }
        & .collapse-icon {
            transition: transform 1s ease;
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%) rotate(-180deg); /* Transformation initiale */
        }
    
        &.open .collapse-icon {
            transform: translateY(-50%) rotate(0deg); /* Transformation finale */
        }
    }
    & .collapsible-content {
        color: $color-primary;
        background-color: #F6F6F6;
        margin: -5px auto 0 auto;
        max-width: 1240px;
        border-radius: 0 0 5px 5px;
        animation: loadContent 600ms both;
    }
    
}
.accommodationCollapse ul {
        padding: 0;
    }

.accommodationCollapse {
    max-width: 1240px;
    margin: auto;
    margin-bottom: 50px;
    display: flex;
    column-gap: 76px;
  & div {
      width: 100%;
  }
    .collapse {
        font-size: 18px;
        font-weight: 500;
        color: white;
        background-color: $color-primary;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        padding: 0px 5px;
        margin-top: 10px;
        position: relative;
        z-index: 1;
        cursor: pointer;
        & .collapse-icon {
        transition: transform 0.8s ease;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%) rotate(-180deg); /* Transformation initiale */
    }
    &.open .collapse-icon {
        transform: translateY(-50%) rotate(180deg); /* Transformation finale */
    }


        
    }
    & .collapsible-content {
        color: $color-primary;
        background-color: #F6F6F6;
        margin: -5px auto 0 auto;
        border-radius: 0 0 5px 5px;
        animation: loadContent 400ms both;
        
        
    }
    & .collapsible-content.open {
        padding: 5px 10px;
    }
}

@media screen and (max-width: 800px) {
    .aboutCollapse {
        margin: 20px 0px;

        & .collapse {
            font-size: 13px;
            padding: 0 10px;
            border-radius: 7px;
        }
        & .collapsible-content {
            & p {
                font-size: 12px;
            }
        }
        & .collapsible-content.open {
            padding-top: 20px;
        }
    }
    .accommodationCollapse {
        & .collapse {
            font-size: 13px;
            padding: 0 10px;
        }
        & .collapsible-content {
            & p {
                font-size: 12px;
            }
        }
    }
}