@use "../scss/variable.scss" as *;
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: $footer-background;
    color: white;
    margin-bottom: 10px;
    & h4{
        font-weight: 500;
        font-size: 24px;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 800px){
    footer{
        
        & h4{
            font-size: 12px;
            width: 70%;
            margin-left: 25%;
            margin-top: 10px;
            

        }
    }
}